{% extends "home.html" %}
{% block content %}
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{%static 'Asset.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script defer src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script defer src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<h1 class="text-info">
  Departments
</h1><br>
<div><br>
  <table  id="myTable" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Department Id</th>
      <th>Department Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    {% for dept in object_list %}
        <tr>
          <td>{{dept.Dept_ID}}</td>
          <td>{{dept.Dept_Name }}</td>
          <td><a href="{% url 'DepartmentUpdateView' dept.Dept_ID %}">Edit</a></td>
          <td><a href="{% url 'Department_confirm_delete' dept.Dept_ID %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'DepartmentCreateView' %}" class="btn btn-lg btn-primary addbtn" role="button">
    Add Department
  </a>
</div>

<script>
$(document).ready(function() {
    $('#myTable').DataTable({
    "lengthMenu": [[ 5, 10, -1], [ 5, 10, "All"]],
    });
    $.fn.DataTable.ext.pager.numbers_length = 7;
} );
</script>
</body>
</html>
{% endblock %}