{% extends "home.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'Asset.css' %}">
<h1 class="text-info">
        Supplier Form
</h1><br>
<div class="jumbotron main2">
    <form method="POST">
        {% csrf_token %}
        {% load widget_tweaks %}
            <label>Supplier Name:</label>
            {% render_field form.Supplier_Name class="form-control" placeholder="Supplier Name"%}<hr>
            <label>Supplier Mailid:</label>
            {% render_field form.Supplier_Mailid class="form-control"  placeholder="Supplier Mailid"%}<hr>
            <label>Supplier Mobile:</label>
            {% render_field form.Supplier_Mobile class="form-control" placeholder="Supplier Mobile"%}<hr>
            <label>City:</label>
            {% render_field form.City class="form-control"  placeholder="City"%}<hr>
            <label>Address:</label>
            {% render_field form.Address class="form-control"  placeholder="Address"%}<hr>

            <input class="btn btn-primary" type="submit" value="Submit">
            <input class="btn btn-primary"  type="reset" value="Reset">
            <a href="{% url 'SupplierListView' %}" class="btn btn-primary">
                All Supplier
            </a>
    </form>
</div>
{% endblock content %}